/* Default Styles for All Viewports */
.border{
    text-align: left;
    height: 60px;
    padding-top: 0px;
    background-color: rgb(33, 32, 32);
    display: flex;
}

body{
    background-color: rgb(132, 11, 65);
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(33, 32, 32);
}

p{
    color: white;
}

/* Styles for Mobile Viewport (Max Width 600px) */
@media (max-width: 600px){
    body{
        background-color: #a31578;
        border: rgb(33, 32, 32) 25px;
    }

    h1{
        font-size: 24px;
    }

    p{
        font-size: 16px;
    }
}

/* Styles for Tablet Viewport (Min 601px Max 1024px) */
@media (min-width: 601px) and (max-width:1024px){
    h1{
        font-size: 32px;
    }

    p{
        font-size: 18px;
    }
}

/* Styles for Desktop Viewport (Min 1025px) */
@media (min-width: 1025px) {
    body{
        background-color: #006D5B;
        max-width: 800px;
        margin: 0 auto;
    }

    h1{
        font-size: 48px;
    }
    p{
        font-size: 20px;
    }
}

/* Image Modification */
#leanion{
    border: rgb(33, 32, 32) 5px;
}